<div class="welcome-text">
  <div class="welcome-container">
    <h1>Explore and Learn About Countries</h1>
    <p>
      Discover fascinating information about different countries, flags,
      regions, populations, capitals and plan your next destiny.
    </p>
    <!-- <img src="ezgif.com-gif-to-webp.webp" alt="" /> -->
  </div>
</div>

<div class="filter-container mat-elevation-z2">
  <h1>¿Where in the world?</h1>
  <mat-form-field appearance="fill">
    <mat-label class="searchBox">Search by country name</mat-label>
    <input
      class="searchBox"
      matInput
      type="text"
      placeholder="Search by country name"
      [(ngModel)]="searchQuery"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="filterCountryByName(searchQuery)"
  >
    Search
  </button>
</div>

<div class="grid-container">
  <app-countries
    *ngFor="let country of filteredCountries; let i = index"
    [countryProp]="country"
    (addToVisited)="addToVisited($event)"
    (addToWishList)="addToWishList($event)"
    class="grid-item"
  ></app-countries>
</div>
