<mat-toolbar color="primary">
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >HOME</a
      >
    </li>
    <li>
      <a routerLink="/visited" routerLinkActive="active">VISITED COUNTRIES</a>
    </li>
    <li>
      <a routerLink="/wishlist" routerLinkActive="active">WISHLIST</a>
      <span routerLinkActive="active" class="heart-symbol"
        >&#x2764;&#xFE0E;</span
      >
    </li>
  </ul>
</mat-toolbar>
